<%= form_with(model: repo) do |form| %>
  <% if repo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(repo.errors.count, "error") %> prohibited this repo from being saved:</h2>

      <ul>
        <% repo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="mb-3">
    <%= form.label :body, style: "display: block" %>
    <%= form.text_field :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
