<div class="col">
  <div id="<%= dom_id repo %>">
    <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <% if repo.private_role == true %>
                  <span class="badge text-bg-danger">Private</span> <i class="bi bi-lock-fill"></i>
                <% elsif repo.private_role == false %>
                  <span class="badge text-bg-warning">Public</span> <% if params[:action] == 'show' %><i class="bi bi-unlock-fill"></i><% end %>
                <% end %>
                <h5 class="card-title">
                  <%= link_to repo.name, repo, class:"text-decoration-custom" %>
                </h5>
              </div>
              <div class="col text-end">
                <% if repo.user.id == current_user.id %>
                <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="" href="#">
                      <%= link_to 'Edit', edit_repo_path(repo), class:"dropdown-item" %>
                    </a>
                  </li>
                  <li>
                    <a class="" href="#">
                      <%= link_to 'Destroy', repo, data: { turbo: true, turbo_confirm: 'Are you sure?', turbo_method: :delete }, class:"dropdown-item" %>
                    </a>
                  </li>
                </ul>
                <% end %>
              </div>
              <p class="card-text">
                <%= truncate(repo.body, length: 150) %>
              </p>
              <small class="text-muted disabled">
                created by <%= repo.user.username %> <%= time_ago_in_words(repo.created_at) %> ago
              </small>
              <% if params[:action] == 'show' %>
                <% if current_user.id == repo.user.id %>
                  <%= link_to repo.private_role == true ? "Public" : "Private", private_fiture_path(repo), data: { turbo: true, turbo_method: :patch }, class:repo.private_role == true ? "btn btn-warning" : "btn btn-danger" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
