<div class="container">
  <div style="min-height:400px;">
  <hr>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a>
                    <%= link_to @repo.user.username, profile_path(@repo.user), class:"text-decoration-custom" %>
                  </a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                  <strong>
                    <%= link_to @repo.name, @repo, class:"text-decoration-custom" %>
                  </strong>
                </li>
              </ol>
            </nav>
          </div>
          <div class="col text-end">
            <%= link_to 'Exit', repos_path, class:"btn" %>
            <%= link_to "Edit this repo", edit_repo_path(@repo), class:"btn" if @repo.user_id == current_user.id %>
            <%= link_to 'Destroy', @repo, data: { turbo_confirm:"are you sure?", turbo_method: :delete }, class:"btn btn-danger" if @repo.user_id == current_user.id %>
          </div>
        </div>
        <% if @repo.user_id == current_user.id %>
          <div class="accordion accordion-flush my-2" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed bg-secondary rounded" style="--bs-bg-opacity: .5;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <i class="bi bi-folder-plus"> </i> Add new folder
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <%= render partial: 'folders/form', locals: { repo: @repo, subfolder: nil } %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed bg-secondary rounded" style="--bs-bg-opacity: .5;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  <i class="bi bi-file-earmark-plus"> </i> Add new item
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <%= render partial: 'items/form', locals: { repo: @repo, folder_id: nil } %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="list-group mb-4">
      <div class="list-group-item list-group-item-dark">
        <% if @repo.user.avatar.present? %>
          <%= link_to (image_tag(@repo.user.avatar, width:25, height:25, class:"rounded-circle border shadow", style:"object-fit:contain;background:black;", alt:"Avatar")), profile_path(@repo.user) %>
        <% else %>
          <%= link_to (image_tag "https://img.freepik.com/free-icon/important-person_318-10744.jpg?w=2000", width:25, height:25, class:"rounded-circle border shadow", style:"object-fit:contain;background:black;", alt:"Avatar"), profile_path(@repo.user) %>
        <% end %>
        <%= link_to @repo.user.username, profile_path(@repo.user), class:"text-decoration-custom-color" %>
        <span class="badge rounded-pill text-bg-warning">
          Has <%= @repo.folders.count + @repo.items.count %> Items
        </span>
      </div>
      <%= render @repo.folders.where(subfolder_id: nil).order(id: :desc) %>
      <%= render @repo.items.where(folder_id: nil).order(id: :desc) %>
    </div>
  </div>
</div>