<div class="card center-card <%= cookies[:moon] ? "bg-dark" : "bg-light" %> mt-4">
  <div class="card-body text-center">
    <h2 class="my-3">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-floating text-dark mb-3">
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"form-control", placeholder:"username" %>
        <%= f.label :username, class:"form-check-label", for:"flexCheckDefault" %>
      </div>

      <div class="form-floating text-dark mb-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"email" %>
        <%= f.label :email, class:"form-check-label", for:"flexCheckDefault" %>
      </div>

      <div class="form-floating text-dark mb-3">
        <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class:"form-control", placeholder:"phone" %>
        <%= f.label :phone, class:"form-check-label", for:"flexCheckDefault" %>
      </div>

        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      <div class="form-floating text-dark mb-3">
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"password" %>
        <%= f.label :password, class:"form-check-label", for:"flexCheckDefault" %>
      </div>

      <div class="form-floating text-dark mb-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"password" %>
        <%= f.label :password_confirmation, class:"form-check-label", for:"flexCheckDefault" %>
      </div>

      <div class="actions mb-3">
        <%= f.submit "Sign up", class: "btn btn-success" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
