<div class="container my-4">
  <div style="min-height:400px;">
  <hr>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a><%= link_to @repo.user.username, profile_path(@repo.user.to_param), class:"text-decoration-custom" %></a></li>
                <li class="breadcrumb-item" aria-current="page">
                  <strong>
                    <%= link_to @repo.name, @repo, class:"text-decoration-custom" %>
                  </strong>
                </li>
              </ol>
            </nav>
          </div>
          <div class="col text-end">
            <%= link_to 'Exit', repos_path, class:"btn" %>
            <%= link_to 'Delete', [@folder.repo, @folder], class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } if @folder.user.id == current_user.id %>
          </div>
        </div>
        <% if @folder.user.id == current_user.id %>
          <div class="accordion accordion-flush mb-2 my-2" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed bg-secondary rounded" style="--bs-bg-opacity: .5;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <i class="bi bi-folder-plus"> </i> Add new folder
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <%= render partial: 'folders/form', locals: { repo: @folder.repo, subfolder: @folder } %>
                </div>
              </div>
            </div>
          
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed bg-secondary rounded" style="--bs-bg-opacity: .5;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  <i class="bi bi-file-earmark-plus"> </i> Add new item
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <%= render partial: 'items/form', locals: { repo: @folder.repo, folder: @folder } %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="rounded text-bg-light mb-1 pe-3 ps-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">
            <strong>
              <%= link_to @repo.name, @repo, class:"text-decoration-custom" %>
            </strong>
          </li>
          <% if !@folder.subfolder.nil? %>
            <li class="breadcrumb-item" aria-current="page"><%= link_to '...', [@repo, @folder.subfolder], class:"text-decoration-custom" %></li>
          <% end %>
          <li class="breadcrumb-item active" aria-current="page"><%= @folder.name %></li>
        </ol>
      </nav>
    </div>
    <div class="list-group">
      <div class="list-group-item list-group-item-dark">
        <% if @repo.user.avatar.present? %>
          <%= link_to (image_tag(@repo.user.avatar, width:25, height:25, class:"rounded-circle border shadow", style:"object-fit:contain;background:black;", alt:"Avatar")), profile_path(@repo.user) %>
        <% else %>
          <%= link_to (image_tag "https://img.freepik.com/free-icon/important-person_318-10744.jpg?w=2000", width:25, height:25, class:"rounded-circle border shadow", style:"object-fit:contain;background:black;", alt:"Avatar"), profile_path(@repo.user) %>
        <% end %>
        <%= link_to @repo.user.username, profile_path(@repo.user.to_param), class:"text-decoration-custom-color" %>
      </div>
      <div class="list-group-item list-group-item-action">
        <h4>
          <% if !@folder.subfolder.nil? %>
            <%= link_to "..", [@repo, @folder.subfolder], class:"text-decoration-custom-color" %>
          <% else %>
            <%= link_to "..", @repo, class:"text-decoration-custom-color" %>
          <% end %>
        </h4>
      </div>
      <%= render @folder.folders.where(subfolder_id: @folder).order(id: :desc) %>
      <%= render @repo.items.where(folder_id: @folder).order(id: :desc) %>
    </div>
  </div>
</div>