<%= form_for([@repo, @repo.items.build]) do |f| %>
    <% if !@folder.nil? %>
        <%= f.hidden_field :folder_id, value: @folder.id %>
    <% end %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :private_role, value: @repo.private_role %>

    <p>
        <%= f.label :posts, 'Item name*', class:"form-label" %>
        <%= f.file_field :posts, id:'inputfile', onchange:'getoutput();', class:"form-control", direct_upload: true %>    
    </p>
        <%= f.hidden_field :item_file, id:'outputfile' %>
        <%= f.hidden_field :item_extension, id:'extension' %>
    <p>
        <%= f.submit 'Upload file', class:"btn btn-success" %>
    </p>
<% end %>

<script>
    function getFile(filePath) {
        return filePath.substr(filePath.lastIndexOf('\\') + 1).split('.')[0];
    }

    function getoutput() {
        outputfile.value = getFile(inputfile.value);
        extension.value = inputfile.value.split('.')[1];
    }
</script>