<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
                <li>
                    <%= link_to "Profile", profile_path(current_user.id), class:"dropdown-item" %>
                </li>
                <li>
                    <%= link_to "Edit profile", edit_user_registration_path, class:"dropdown-item" %>
                </li>
                <li>
                    <%= link_to "Sign out", destroy_user_session_path, data: { turbo: true, turbo_method: :delete }, class:"dropdown-item" %>
                </li>
            <% else %>
                <li>
                    <%= link_to "Sign in", new_user_session_path, class:"dropdown-item" %>
                </li>
                <li>
                    <%= link_to "Sign up", new_user_registration_path, class:"dropdown-item" %>
                </li>
            <% end %>
            <li>
                <hr class="dropdown-divider">
            </li>
            <% if cookies[:moon] %>
                <li>
                    <%= button_to ' Light mode', sun_path, method: :get, class:"dropdown-item bi bi-sun" %>
                </li>
            <% else %>
                <li>
                    <%= button_to ' Dark Mode', moon_path, method: :get, class:"dropdown-item bi bi-moon" %>
                </li>
            <% end %>
        </ul>
    </li>
</ul>