<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <%= link_to "MyRepo", root_path, class:"navbar-brand ps-3" %>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <%= form_tag search_path, method: :get, class:"d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" do |f| %>
        <div class="input-group">
            <%= text_field_tag :q, params[:q], class:"form-control", placeholder:"Search for..." %>
            <%= button_tag '<i class="fas fa-search"></i>'.html_safe, class:"btn btn-primary", id:"btnNavbarSearch" %>
        </div>
    <% end %>
    <!-- Navbar-->
    <%= render "layouts/components/dropdown_navbar" %>
</nav>