<!DOCTYPE html>
<html>
  <head>
    <title>Repository</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column <%= cookies[:moon] ? "text-white" : "text-dark" %>" id="<%= cookies[:moon] ? "moon" : "sun" %>">
    <%= render "layouts/components/navbar" %>
    <%= render "layouts/components/alert" if notice || alert %>
    <div id="page-content">
      <div class="container-fluid my-4">
        <%= yield %>
      </div>
    </div>
    <%= render "layouts/components/footer" %>
  </body>
</html>
